# Problema 1.

Usando el set `PS4_1.csv`, convertir la serie `Date` en el indice (serie de tiempo) y eliminar la serie `Unnamed: 1` (generado por pandas), retornar un  diccionario con en el siguiente orden:

* cantidad de columnas
* Nombre de las columnas
* número de registros no NaN de cada columna
* cantidad total de memoria usada para cargar el dataset en el computador ,( df.memory_usage() )
* Estadistica basica para cada columna, media, desviacion estandar, maximo
* Remplazar los NaN por None


# Problema 2

Realizar la lectura del data frame "Crimes_-_2019.csv" asociado a los crimenes que se presentaron en Chicago en el 2019. 


1. Ver la estadistica general del data frame.
2. Dejar las columnas PrimaryType, y Date.
3. Transformar la columna Date que es tipo string en una tipo Fecha, use el siguiente metodo de pandas pd.to_datetime(df.Date,format="%m/%d/%Y %I:%M:%S %p").
4. Mostrar los casos totales para cada tipo de crimen de forma ascendente, emplee:
   df.groupby(columna).Date.count()
   
   sort_values()
5. Ordenar los valores por orden alfabetico de Primary type
6. Mostrar de la fila 100 a la 120
6. Realizar una visualización de los datos anteriores.Emplee la libreria  seaborn con un grafico tipo barplot. Ej.
   ax = sns.barplot(x = "contador", y="Primary Type", data = datos)




# Problema 3

1. Leer el dataset country_vaccinations.csv  y filtrar los datos para Colombia
2. Crear un csv con los datos para colombia
3. Realizar una comparacion con los paises latinoamericanos. 
4. A traves de mascaras determinar el numero de vacunados en el intervalo  [1.5E6, 2.0E6]

In [ ]:
import pandas as pd

In [ ]:
path = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTWsahNju_LTtJBjuaaILBx_3QutbzK-HCjGoLtrtcIBEu4rOQgdiz17AD8SDa13g/pub?output=csv"
df = pd.read_csv(path)

In [ ]:
df.head()

         Date Unnamed: 1  Berri1  Maisonneuve_1  Maisonneuve_2  Brebeuf
0  01/01/2009       0:00      29             20             35      NaN
1  02/01/2009       0:00      19              3             22      NaN
2  03/01/2009       0:00      24             12             22      NaN
3  04/01/2009       0:00      24              8             15      NaN
4  05/01/2009       0:00     120            111            141      NaN

In [ ]:
len(df.columns)

6

In [ ]:
df.shape

(365, 6)

In [ ]:
info_df = df.describe()

In [ ]:
info_df

            Berri1  Maisonneuve_1  Maisonneuve_2      Brebeuf
count   365.000000     365.000000     365.000000   178.000000
mean   2032.200000    1060.252055    2093.169863  2576.359551
std    1878.879799    1079.533086    1854.368523  2484.004743
min       0.000000       0.000000       0.000000     0.000000
25%     194.000000      90.000000     228.000000     0.000000
50%    1726.000000     678.000000    1686.000000  1443.500000
75%    3540.000000    1882.000000    3520.000000  4638.000000
max    6626.000000    4242.000000    6587.000000  7575.000000

In [ ]:
df.columns

Index(['Date', 'Unnamed: 1', 'Berri1', 'Maisonneuve_1', 'Maisonneuve_2',
       'Brebeuf'],
      dtype='object')

In [ ]:
del df["Unnamed: 1"]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           365 non-null    object
 1   Berri1         365 non-null    int64
 2   Maisonneuve_1  365 non-null    int64
 3   Maisonneuve_2  365 non-null    int64
 4   Brebeuf        178 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 14.4+ KB

In [ ]:
for col in df.columns:
  tf = pd.isnull(df[col])
  tf1 = ~tf
  print(tf1.sum())

365
365
365
365
178

In [ ]:
tf = pd.isnull(df[col])

tf1 = ~tf
tf1.sum()

178

In [ ]:
cantindadnull = (~tf).sum()
print(cantindadnull)

178

In [ ]:
print(info_df.loc["count", "Berri1"])
print(info_df.loc["count", "Maisonneuve_1"])

365.0
365.0

In [ ]:
lista = ["count", "mean"]

for l in lista:

  for col in info_df.columns:

    contador_registros = info_df.loc[l , col]
    
    print(contador_registros)

365.0
365.0
365.0
178.0
2032.2
1060.2520547945205
2093.1698630136984
2576.3595505617977

In [ ]:
type(df.count())

pandas.core.series.Series

In [ ]:
tf = pd.isnull(df["Brebeuf"])

In [ ]:
df.Brebeuf[~tf]

187    2156.0
188    4548.0
189    7575.0
190    7268.0
191    2320.0
        ...
360       0.0
361       0.0
362       0.0
363       0.0
364       0.0
Name: Brebeuf, Length: 178, dtype: float64

In [ ]:
tf

0       True
1       True
2       True
3       True
4       True
       ...
360    False
361    False
362    False
363    False
364    False
Name: Brebeuf, Length: 365, dtype: bool

In [ ]:
df.columns

Index(['Date', 'Berri1', 'Maisonneuve_1', 'Maisonneuve_2', 'Brebeuf'], dtype='object')

In [ ]:
df = df.drop('Unnamed: 1', axis = 1)

KeyError: ignored

In [ ]:
del df["Date"]

In [ ]:
df

In [ ]:
df.memory_usage()

In [ ]:
def problema1(path):
  df = pd.read_csv(path)
  cantidad_columnas = len(df.columns)
  nombre = df.columns
  registros = df.shape[0]
  #memory = 


  diccionario = {"cantidad_columnas":cantidad_columnas, "nombre_columnas": nombre}

#  lista =  cantidad_columnas, nombre, registros, memory
  return diccionario

In [ ]:
q = problema1(path)
q

{'cantidad_columnas': 6,
 'nombre_columnas': Index(['Date', 'Unnamed: 1', 'Berri1', 'Maisonneuve_1', 'Maisonneuve_2',
        'Brebeuf'],
       dtype='object')}

In [ ]:
from google.colab import files
from IPython.display import Image
#uploaded = files.upload() #Dar la direccion para cargar el archivo planetarios.png

In [ ]:
!ls

sample_data

In [ ]:
path="https://docs.google.com/spreadsheets/d/e/2PACX-1vQqCpt9ad3JYNclQrdwHtqJVnMlMyNHI-p176ceLZSIZxK9aacD5xaCE3M5oItoTQOjsgm7aEXXW-V0/pub?output=csv"
df = pd.read_csv(path)

In [ ]:
df

     Unnamed: 0        Primary Type                    Date
0             0  DECEPTIVE PRACTICE   09/24/2019 8:00:00 AM
1             1               THEFT   10/13/2019 8:30:00 PM
2             2               THEFT   10/05/2019 6:30:00 PM
3             3     CRIMINAL DAMAGE   10/13/2019 7:00:00 PM
4             4             ASSAULT   10/13/2019 2:10:00 PM
..          ...                 ...                     ...
995         995       OTHER OFFENSE  10/14/2019 10:47:00 PM
996         996             BATTERY   10/14/2019 4:00:00 AM
997         997               THEFT  10/14/2019 10:25:00 AM
998         998               THEFT   10/14/2019 7:00:00 PM
999         999             ROBBERY   10/14/2019 4:10:00 PM

[1000 rows x 3 columns]

In [ ]:
tf = df["Primary Type"] == "THEFT"

In [ ]:
df[tf]["Primary Type"].count()

In [ ]:
pd.to_datetime?

In [ ]:
df.Date = pd.to_datetime(df.Date, format="%m/%d/%Y %I:%M:%S %p")

In [ ]:
df.Date[2]

In [ ]:
datetime.datetime.now()

In [ ]:
datos_info = df.groupby("Primary Type").Date.count().sort_values(ascending = True)

In [ ]:
datos_info

In [ ]:
datos_info

In [ ]:
import seaborn as sns

In [ ]:
datos_info = datos_info.rename(columns={"Date":"Contador"})

In [ ]:
ax = sns.barplot(x = "Contador", y="Primary Type", data = datos_info)

# Problema 1.

Usando el set `PS4_1.csv`, convertir la serie `Date` en el indice (serie de tiempo) y eliminar la serie `Unnamed: 1` (generado por pandas), retornar un  diccionario con en el siguiente orden:

* cantidad de columnas
* Nombre de las columnas
* número de registros no NaN de cada columna
* cantidad total de memoria usada para cargar el dataset en el computador ,( df.memory_usage() )
* Estadistica basica para cada columna, media, desviacion estandar, maximo
* Remplazar los NaN por None


# Problema 2

Realizar la lectura del data frame "Crimes_-_2019.csv" asociado a los crimenes que se presentaron en Chicago en el 2019. 


1. Ver la estadistica general del data frame.
2. Dejar las columnas PrimaryType, y Date.
3. Transformar la columna Date que es tipo string en una tipo Fecha, use el siguiente metodo de pandas pd.to_datetime(df.Date,format="%m/%d/%Y %I:%M:%S %p").
4. Mostrar los casos totales para cada tipo de crimen de forma ascendente, emplee:
   df.groupby(columna).Date.count()
   
   sort_values()
5. Ordenar los valores por orden alfabetico de Primary type
6. Mostrar de la fila 100 a la 120
6. Realizar una visualización de los datos anteriores.Emplee la libreria  seaborn con un grafico tipo barplot. Ej.
   ax = sns.barplot(x = "contador", y="Primary Type", data = datos)




# Problema 3

1. Leer el dataset country_vaccinations.csv  y filtrar los datos para Colombia
2. Crear un csv con los datos para colombia
3. Realizar una comparacion con los paises latinoamericanos. 
4. A traves de mascaras determinar el numero de vacunados en el intervalo  [1.5E6, 2.0E6]